
{% extends "global/base.html" %}
{% block main %}
{% load static %}
  <main><!-- parte principal -->

    <div class="container mt-5">
      <div class="row">
        <div class="card col-md-4 mb-4">
          <img src="{%static '/global/img_do_carrosel/roupas_femininas.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Roupas Femininas </h5>
            <p class="card-text">Tecidos tradicionais, cores vibrantes, vista elegância e o glamour!
              </p>
            <a href="{% url  'roupasfemininas' %}" class="btn btn-primary">roupas femininas</a>
          </div>
        </div>
        <div class="card col-md-4 mb-4">
          <img src="{% static '/global/img_do_carrosel/roupas_infantil.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Roupas Infantis</h5>
            <p class="card-text">Trazendo alegria e cultura para que nossas pequenas possam brincar, explorar e expressar sua identidade!
              </p>
            <a href="{% url 'roupasinfantis' %}" class="btn btn-primary">roupas infantis</a>
          </div>
        </div>
        <div class="card col-md-4 mb-4">
          <img src="{% static '/global/img_do_carrosel/acessorios.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Acessorios Africanos</h5>
            <p class="card-text"> Acessorios autênticos, trazendo historias, simbolismos e tradições que atravessam gerações!
              </p>
            <a href="{% url 'acessorios' %}" class="btn btn-primary">acessorios</a>
          </div>
        </div>
      </div>
    </div>
  </main>


{% endblock main %}