{% extends 'global/baseloja.html' %}
{% block main %}
{% load static %}

<section class="container">
  <div class="row row-cols-4">
    {% for roupasfeminina in roupasfemininas %}
    <div class="card col" style="width: 18rem;">
      <img src="{{ roupasfeminina.foto.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ roupasfeminina.titulo }}</h5>
        <p class="card-text">{{ roupasfeminina.descricao }}</p>
        <a href="#" class="btn btn-primary"></a>
      </div>
    </div>
    {% endfor%}

{% endblock main %}