{% extends 'global/baseloja.html' %}
{% block main %}
{% load static %}

<section class="container-fluid">


      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 0"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'global/img/saia-e-croped-laranja.jpg' %}" class="d-block" alt="">
          </div>
          <div class="carousel-item">
            <img src="{% static 'global/img/saia_croped_laranja.jpg '%}" class="d-block " alt="">
          </div>
          <div class="carousel-item">
            <img src="{% static 'global/img/moda_africana_calça_blazer.jpg' %}" class="d-block " alt="">
          </div>
          <div class="carousel-item">
            <img src="{% static 'global/img/vestido_com_fenda_e_decote_coraçao.jpg' %}" class="d-block w-50" alt="">
          </div>
          <div class="carousel-item">
            <img src="{% static 'global/img/calcaecropped.jpg' %}" class="d-block w-50" alt="">
          </div>
          <div class="carousel-item">
            <img src="{% static 'global/img/vestidoazulfeminino.jpg' %}" class="d-block w-50" alt="">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
{% endblock main %}