{% load static %}
<header>
    <!-- cabeçalho da pagina-->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">

        <figure>
          <img src="{% static '/global/img_do_carrosel/logo.png' %}" alt="" width="90" height="70">
        </figure>
        <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: 10px; color: aliceblue;">AfroChic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: aliceblue;" href="{% url 'roupasfemininas' %}">roupas femininas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: aliceblue;" href="{% url 'roupasinfantis' %}">roupas infantis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: aliceblue;" href="{% url 'acessorios' %}">acessorios</a>
            </li>
            <li>
            <li class="nav-item">
              <a class="nav-link" style="color: aliceblue;" href="{% url 'pedidos' %}">pedidos</a>
            </li>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li>

          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
          </form>
        </div>
      </div>
    </nav>
    <p style="text-align: center; background-color: rgba(241, 245, 246, 0.558);">Vista a cultura e moda
      Africana, celebre suas raízes com identidade e estilo.</p>

  </header>
