{% load static %}
<footer id="contato">
    <div class="container">
      <div class="row">

        <!-- Contato -->
        <div class="col-md-4 footer-contact">
          <h5>Contato</h5>
          <p>Email: Afrochic_contato@gmail.com</p>
          <p>Telefone: (21) 4002-8922</p>
          <p>Endereço: Rua Jogos de sonho alto , 123 - Rio de Janeiro, RJ</p>
        </div>

        <!-- Redes Sociais -->
        <div class="col-md-4 footer-social">
          <h5>Siga-nos</h5>
          <a href="https://www.facebook.com/FlamengoOficial" target="_blank"><img src="{% static 'global/img/face_logo.png' %}"
              width="50"></a>
          <a href="https://www.instagram.com/flamengo/" target="_blank"><img src="{% static 'global/img/insta_logo.png' %}" width="50"></a>
          <a href="https://x.com/flamengo?mx=2" target="_blank"><img src="{% static 'global/img/x_logo.png' %}" width="50"></a>
        </div>
      </div>
    </div>

    <!-- Rodapé Inferior -->
    <div class="footer-bottom">
      <div class="container">
        <p>&copy; 2025 Afrochic. Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>
