{% extends "global/baseloja.html" %}
{% block main %}
{% load static %}
<nav class="navbar bg-body-tertiary">
  <div class="container">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
          Carrinho (<span id="cartCount">0</span>)
      </button>
  </div>
</nav>

<section class="container mt-6">
  <div class="row">
    {% for roupasinfanti in roupasinfantis %}
    <div class="col-12 col-sm-12 col-md-4 mb-4">
      <div class="card h-100">
        <img src="{{ roupasinfanti.foto.url }}" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><strong>{{ roupasinfanti.titulo }}</strong></h5>
          <p class="card-text flex-grow-1">{{ roupasinfanti.descricao }}</p>
          <p class="h4">R$ {{ roupasinfanti.preco }}</p>
          <button class="btn btn-primary mt-auto" onclick="addToCart(1, '{{roupasinfanti.titulo}}', {{roupasinfanti.preco}})">Adicionar ao
            Carrinho</button>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</section>

<div id="alerts" class="container position-fixed top-0 start-50 translate-middle-x" style="z-index: 9999;"></div>

{% endblock main %}