{% extends "global/baseloja.html" %}
{% block main %}
{% load static %}
<section class="container my-5" id="sobre">
    <div class="row">
        <div class="col-md-6">
            <h1 class="mb-4">Conheça Mais da AfroChic</h1>
            <h2> como surgiu a AFroChic?</h2>
            <p> A AfroChic nasceu do sonho e da determinação de uma jovem negra, apaixonada por moda,
                cultura e ancestralidade. Criada com o propósito de valorizar a beleza e a força da mulher negra, nossa
                marca é
                mais do que uma loja de roupas — é um movimento de afirmação, estilo e identidade.</p>

            <h2>O que queremos transmitir com nossas peças? </h2>
            <p>Cada peça da AfroChic carrega em si a elegância das estampas africanas, o poder da representatividade e o
                cuidado artesanal de quem entende que vestir-se também é uma forma de se expressar. Buscamos exaltar a
                diversidade, a autoestima e a autenticidade da mulher moderna, conectando tradição e tendência em cada
                coleção.
            </p>
            <p>Nossas roupas são feitas para todos os corpos, celebrando a pluralidade de formas e tamanhos com
                conforto, beleza
                e respeito. Acreditamos que cada pessoa merece se ver representada e se sentir valorizada naquilo que
                veste.</p>

            <p> Nosso compromisso vai além da moda: queremos inspirar, empoderar e transformar. AfroChic é onde a
                cultura
                africana encontra a sofisticação, criando uma moda que é ao mesmo tempo raiz e revolução.</p>
        </div>
        <div class="col-mb-6">
            <img src="{% static '/global/img_do_carrosel/logo_maior.jpg' %}" alt="" class="img-fluid rounded"
                >
        </div>
    </div>
</section>

{% endblock main %}