body {
    background-image: url("img/");
    height: auto;
    width: auto;
}

.navbar-container {
    background-color: #000;
    padding: 15px 0;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #FFC107;
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: #FFF;
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #FFC107;
    transform: scale(1.1);
}

.logo-container {
    margin: 0 40px;
}

.logo-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}

.tagline {
    text-align: center;
    background-color: rgba(241, 245, 246, 0.558);
    padding: 10px;
    font-size: 1.1rem;
}


header{
    background-color: #904b2a;
    margin: 0px auto;
    border-radius: 10px;
}
header img {
    border-radius: 20px;
}

#sobre {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
    #sobre h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    #sobre p {
        font-size: 16px;
        line-height:1.5;
    }