body {
    /* background-color: rgb(155, 71, 10); */
    background-image: url("img/");
    height: auto;
    width: auto;
}

header{
    background-color: rgb(151, 116, 27);
    margin: 0px auto;
    border-radius: 10px;
}
header img {
    border-radius: 20px;
}

#sobre {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
    #sobre h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    #sobre p {
        font-size: 16px;
        line-height:1.5;
    }